ion-title {
    font-family: 'eco-medium';
    font-size: 18px;
    font-weight: normal;
}

ion-row {
    margin-top: 7px;
}

hr {
    border: 0.1px solid var(--filter-color);
    opacity: 0.1;
    height: 0.1px;
    width: 100%;
    margin-top: 12px;
}

a {
    color: var(--filter-color);
    text-decoration: none;
}

div {
    padding-top: 12px;
    font-family: 'eco-medium';
    font-size: 18px;
    color: var(--filter-color);
}

div:last-child {
    padding-top: 12px !important;
    font-family: 'eco-medium' !important;
    font-size: 18px !important;
    color: red !important;
}