h1 {
    font-size: 31px;
    font-family: 'eco-bold';
    font-weight: bold;
}

ion-icon {
    font-size: 30px;
    padding-top: 15px;
}

h1 {
    color: var(--black-color);
}

.h5 {
    font-family: "eco-medium";
    font-size: 16px;
    margin-bottom: 33px;
    color: var(--black-color);
}

.active {
    border: 1px solid var(--filter-color);
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 18px;
    color: var(--black-color);
    font-size: 16px;
    font-weight: bold;
}

ion-footer {
    ion-button {
        background-color: var(--ion-back-color);
        text-transform: capitalize;
        color: white;
        font-size: 16px;
        height: 50px;
        overflow: hidden;
        font-family: "eco-medium";
    }
}