<ion-header class="ion-no-border">
    <ion-toolbar class="ion-no-padding">
        <ion-buttons slot="start">
            <ion-back-button icon="chevron-back" defaultHref="/bitcoindetails"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid class="ion-no-padding">
        <ion-row class="ion-padding-start ion-padding-end">
            <ion-col size="12">
                <p lass="filter ion-text-justify">
                    {{para}}
                </p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>