ion-header {
    box-shadow: 2px -2px 9px 0px #444444;
}

ion-toolbar {
    --min-height: 70px;
}

h4 {
    font-size: 18px;
    font-weight: normal;
    color: var(--black-color);
}

.filter {
    font-size: 14px;
    color: var(--filter-color);
}

p {
    text-align: justify;
    color: var(--filter-color);
    font-size: 14px;
    line-height: 1.8;
}