<ion-header class="ion-no-border">
    <ion-toolbar class="ion-padding-start ion-padding-top ion-padding-end ion-padding-bottom">
        <ion-title class="ion-text-center">{{'siPa.ti' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="ion-no-padding">
        <div class="container">
            <img src="../../../assets/second.png">
            <h3>{{'siPa.not' | translate}}</h3>
            <h4>{{'siPa.learn' | translate}}</h4>
            <h5 (click)="goNext()"> {{'siPa.f' | translate}}</h5>
        </div>
    </ion-grid>
</ion-content>