<ion-content>
    <div class="container">
        <div class="ion-padding-start ion-padding-end">
            <img src="../../../assets/Group 4849.png" height="133px" width="133px"><br>
            <ion-text>{{'pickcity.title' | translate}}</ion-text><br>
            <ion-text>{{'pickcity.go' | translate}}</ion-text><br>
            <div class="font">
                <ion-text class="smallfont">{{'pickcity.weW' | translate}}</ion-text>
            </div>
        </div>
    </div>
    <div class="bottom ion-padding-start ion-padding-end ion-text-center">
        <ion-button mode="ios" (click)="goLocate()" color="var(--ion-back-color)" expand="full">{{'pickcity.pick' | translate}}</ion-button>
    </div>
</ion-content>