<ion-content>
    <div class="header">
        <h2>
            Rendezvous26
        </h2>
        <div class="avatar" routerLink="/notificationcentre">
            <ion-img src="assets/images/notif.png">
            </ion-img>
        </div>
    </div>
<ion-slides [options]="catSlideOpts" class="io-margin-top">
<ion-slide>
    <ion-card>

        <img src="assets/images/hd1.png">
    </ion-card>
</ion-slide>
<ion-slide>
    <ion-card>

        <img src="assets/images/hd2.png">
    </ion-card>
</ion-slide>
<ion-slide>
    <ion-card>

        <img src="assets/images/hd3.png">
    </ion-card>
</ion-slide>

</ion-slides> 
<!-- 
<div class="categories">
    <div class="wrapper">
        <div class="image-card">
            <ion-img  src="assets/images/icevent.png"></ion-img>
            
        </div>
        <p class="io-no-margin">Test</p>
       
    </div>

    
</div> -->
<ion-grid fixed>
    <ion-row>
        <ion-col size="4" routerLink="/tabs/tab5">
            <div class="wrapper">
            <div class="image-card">
            <ion-img  src="assets/images/profile.png"></ion-img>
            
        </div>
        
           Profile
        
             </div>
        </ion-col>
        <ion-col size="4" routerLink="/tabs/tab3">
            <div class="wrapper">
                <div class="image-card">
                <ion-img  src="assets/images/icevent.png"></ion-img>
                
                 </div>
                 Programme 
                 </div>
        </ion-col>
        <ion-col size="4">
            <div class="wrapper">
                <div class="image-card">
                <ion-img  src="assets/images/document.png"></ion-img>
                
            </div>
                Document 
                 </div>
        </ion-col>
    </ion-row>
   
    <ion-row>
        <ion-col size="4">
            <div class="wrapper">
            <div class="image-card">
            <ion-img  src="assets/images/participant.png"></ion-img>
            
        </div>
        
           Participant
        
             </div>
        </ion-col>
        <ion-col size="4">
            <div class="wrapper">
                <div class="image-card">
                <ion-img  src="assets/images/gallery.png"></ion-img>
                
                 </div>
                 Gallery 
                 </div>
        </ion-col>
        <ion-col size="4">
            <div class="wrapper">
                <div class="image-card">
                <ion-img  src="assets/images/chat.png"></ion-img>
                
            </div>
                Chat 
                 </div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="4">
            <div class="wrapper">
            <div class="image-card">
            <ion-img  src="assets/images/shuttle.png"></ion-img>
            
        </div>
        
           Shuttle
        
             </div>
        </ion-col>
        <ion-col size="4">
            <div class="wrapper">
                <div class="image-card">
                <ion-img  src="assets/images/feedback.png"></ion-img>
                
                 </div>
                 Feedback
                 </div>
        </ion-col>
        <ion-col size="4">
            <div class="wrapper">
                <div class="image-card">
                <ion-img  src="assets/images/floor.png"></ion-img>
                
            </div>
                Floor plan
                 </div>
        </ion-col>
    </ion-row>
</ion-grid>

</ion-content>